body {
  /* border: 1px solid red; */
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
  text-align: center;
}

a {
  color: darkblue;
  text-decoration: none;
}

.article-list {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.article-header {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 2vw;
}

.article-header a {
  text-decoration: none;
}

.article-title {
  font-size: 1.2em;
  color: darkblue;
}

.article-thumbnail {
  width: 20vw;
}

.article-thumbnail img {
  align-items: center;
}

.article-image {
  justify-content: center;
}

.article-header-text {
  cursor: default;
}

.article-header-text span {
  display: inline-block;
  font-weight: 900;
  width: 10vw;
}

.article-body {
  display: flex;
  flex-direction: column;
  margin: 5px;
  justify-content: center;
}

.article-votes {
  display: flex;
  gap: 1rem;
  height: 1rem;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.article-votes button {
  width: 2em;
  display: inline-flex;
  justify-content: center; 
  background:none;
  border:none;
  margin:0;
  padding:0;
}

.article-sort-bar {
  display: flex;
  justify-content: center;
  gap: 10%;
}

.article-sort-options {
  display: flex;
  align-items: center;
}

.article-sort-options p {
  margin-right: 10px;
}

.article {
  display: flex;
  flex-direction: column;
}

.article img {
  margin-left: auto;
  margin-right: auto;
  width: 90%
}

.comment-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style: none;
  margin: 10px;
  padding: 0;
}

.comment {
  display: flex;
  background-color: lightgrey;
}

.comment span {
  display: inline-block;
  font-weight: 900;
}

.comment-left {
  width: 100px;
  float: left;
  position: relative;
  align-items: center;
}

.comment-right {
  justify-content: left;
  width:100%;
}

.comment-delete-button {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.comment-button {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.text-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-area-input textarea {
  height: 30vh;
  width: 90vw;
  margin: 10px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.text-area-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.text-area-buttons button {
  width: 100px;
}

.topic-list {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.topic {
  display: flex;
}

.topic p {
  padding: 5px;
  margin: 0;
}

.topic a {
  color: darkblue;
  text-decoration: none;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.top-bar {
  background-color: #e9e9e9;
  vertical-align: center;
}

.top-bar > a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.top-bar a:hover {
  background-color: #ddd;
  color: black;
}

.top-bar a.active {
  background-color: #2196F3;
  color: white;
}

.top-bar p {
  border: 1px solid green;
}

.top-bar-user {
  padding: 14px 16px;
  font-size: 17px;
  float: right;
}

.top-bar-logout {
  background-color: #2196F3;
  color: white;
  padding: 14px 16px;
  font-size: 17px;
  border: none;
  float: right;
}

.hero-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.hero-text {
  font-size: 8vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  margin: auto;
}

.login-dropdown-button {
  background-color: #2196F3;
  color: white;
  padding: 14px 16px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.login-dropdown {
  position: relative;
  float: right;
}

.login-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: none;
  z-index: 1;
  right: 0;
}

.login-dropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.login-dropdown-content a:hover {
  background-color: #f1f1f1;
}

.login-dropdown:hover .login-dropdown-content {
  display: block;
}

.login-dropdown:hover .login-dropdown-button {
  background-color: #3e8e41;
}