h1, h2 {
  text-align: center;
}

/*
ul {
  list-style-type: none;
}

li {
  margin: 5px;
  border: 1px solid blue;
}
*/

body {
  border: 1px solid red;
}

.article-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: green;
  flex-basis: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.article-header {
  border: 1px solid black;
  padding: 5px;
  background-color: lightgreen;
  cursor: default;
}

a {
  text-decoration: none;
}

.article-body {
  display: flex;
  flex-direction: column;
  margin: 5px;
  background-color: lightblue;
  justify-content: center;
}

.article-votes {
  display: flex;
  gap: 1rem;
  height: 1rem;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.article-votes button {
  width: 2em;
  display: inline-flex;
  justify-content: center; 
  background:none;
  border:none;
  margin:0;
  padding:0;
}

.comment-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style: none;
  margin: 10px;
  padding: 0;
}

.comment {
  background-color: lightgrey;
}

.comment-button {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.text-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-area-input textarea {
  height: 30vh;
  width: 90vw;
  margin: 10px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.text-area-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.text-area-buttons button {
  width: 100px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}