h1, h2 {
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  margin: 5px;
  border: 1px solid blue;
}

body {
  border: 1px solid red;
}

.article-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: green;
  flex-basis: 100%;
}

.article-header {
  border: 1px solid black;
  padding: 5px;
  background-color: lightgreen;
  cursor: default;
}

.article-body {
  margin: 5px;
  background-color: lightblue;
}